"use strict";

function myPet() {
  var species = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : "dog";
  var age = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : 5;
  var name = arguments.length > 2 && arguments[2] !== undefined ? arguments[2] : getName();
  var color = arguments[3];
  var params = arguments.length > 4 && arguments[4] !== undefined ? arguments[4] : [species, age, name, color];

  return "My " + color + " pet " + name + " is a " + species + " and is " + age + " years old. " + "(" + params + ")";
}

function getName() {
  var name = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : "Spot";

  return name;
}

myPet(); // My undefined pet Spot is a dog and is 5 years old. (dog,5,Spot,)

myPet("lizard", 15, "Lizzy", "green"); // My green pet Lizzy is a lizard and is 15 years old. (lizard,15,Lizzy,green)

myPet("sloth", "Frank", "brown"); // My undefined pet brown is a sloth who is Frank years old. (sloth,Frank,brown,)