const arrowDog = (name) => {
  const goDog = name + ' runs after the arrow.'
  return goDog;
}

function funcDog(name) {
  const goDog = name + ' runs after the function.';
  return goDog;
}

arrowDog('Spot'); // 'Spot runs after the arrow.'
funcDog('Rascal'); // 'Rascal runs after the function.'